.legend {
	display: flex;
	margin-bottom: 35px;
    flex-wrap: wrap;
}

.key {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	font-size: 12px;
	color: #fff;
	height: 35px;

    @media (min-width: $bootstrap_medium) {
        width: 33.33%;
    }

	@media (min-width: $bootstrap_large) {
		width: 16.66%;
	}
}

.key i {
	font-size: 18px;
	margin-right: 10px;
}

.key:first-of-type {
	@media (min-width: $bootstrap_large) {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
}

.key:last-of-type {
	@media (min-width: $bootstrap_large) {
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}
}

.key--blue {
    background-color: $blue;
}

.key--green {
    background-color: $green;
}

.key--yellow {
    background-color: $yellow;
}

.key--red {
    background-color: $red;
}

.key--dark-purple {
    background-color: $dark-purple;
}

.key--purple {
    background-color: $purple;
}
