.tooltip-container {

    @media (max-width: $bootstrap_mobile) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
    }
}

.tooltip-wrapper {
    width: 100%;
    margin-bottom: 15px;
    padding-left: 15px;
    display: flex;

    @media (min-width: $xs) and (max-width: $bootstrap_mobile) {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    @media (min-width: $bootstrap_mobile) {
        position: absolute;
        width: 135px;
        height: 35px;

        &:after {
            position: absolute;
            content: '';
            background-color: $blue;
            height: 1px;
            display: block;
        }
    }
}

.map-tooltip {
    text-align: left;

    @media (max-width: $bootstrap_mobile) {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    @media (min-width: $bootstrap_mobile) {
        position: absolute;
        width: 135px;
        z-index: 5;
        transition: transform .1s .1s ease;

        &:hover {
            width: 215px;
            z-index: 6;
        }

        &.shrink {
            transform: scale(.97);
            opacity: .75;
        }
    }
}


.top {
    display: flex;
}

.icon-container {
    flex: 1;
    height: 10px;
    position: relative;
}

.map-tooltip:hover .icon-container {

    @media (min-width: $bootstrap_mobile) {
        height: 13px;
    }
}

.header {
	background-color: #3B464E;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	font-size: 12px;
	height: 30px;

    @media (min-width: $bootstrap_mobile) {
        font-size: 10px;
        height: 25px;
    }
}

.header i {
	font-size: 12px;
    display: none;

    @media (min-width: $bootstrap_mobile) {
        display: block;
    }
}

.map-tooltip:hover .header i {
	display: none;
}

.map-tooltip:hover .header {

    @media (min-width: $bootstrap_mobile) {
        font-size: 15px;
        height: 40px;
    }
}

.content {
	font-family: 'Roboto', sans-serif;
	padding: 15px 20px 15px 10px;
	background-size: cover;
	background-position: center;
	color: #fff;
	position: relative;
	margin-top: -3px;
	font-size: 10px;
    font-weight: 300;
    line-height: 1.3;
    position: relative;
    background-color: #3B464E;

    @media (max-width: $bootstrap_mobile - 1) {
        flex: 1;
    }

    @media (min-width: $bootstrap_mobile) {
        display: none;
    }
}

.map-tooltip:hover > .content {
    display: block;
}

.content:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3B464E;
    opacity: 0.4;
}

.content i {
	position: absolute;
	bottom: 8px;
	right: 8px;
	font-size: 16px;
}

.content p {
    position: relative;
    margin: 0;
}

.map-tooltip:hover .icon-container .icon {
    @media (min-width: $bootstrap_mobile) {
        bottom: 12px;
    }
}

.map-tooltip:hover .icon {
    @media (min-width: $bootstrap_mobile) {
        font-size: 25px;
    }
}

a.tooltip__link {
    color: #fff;
    text-decoration: none;

    &:hover {
        color: #fff;
    }
}

#columbia-basin {
    top: 27%;
    left: 0%;

    &:after {

        @media (min-width: $bootstrap_mobile) and (max-width: $bootstrap_medium) {
            width: 33%;
            transform: rotate(-70deg);
            left: 12%;
            top: -44%;
        }

        @media (min-width: $bootstrap_medium) and (max-width: $bootstrap_large) {
            width: 41%;
            transform: rotate(-70deg);
            left: 21%;
            top: -55%;
        }

        @media (min-width: $bootstrap_large) {
            width: 54%;
            transform: rotate(-70deg);
            left: 24%;
            top: -84%;
        }
    }
}

#central-valley {
    top: 66.5%;
    left: 4%;

    &:after {
        @media (min-width: $bootstrap_mobile) and (max-width: $bootstrap_medium) {
            width: 42%;
            transform: rotate(45deg);
            left: 11%;
            top: -41%;
        }
        @media (min-width: $bootstrap_medium) and (max-width: $bootstrap_large) {
            width: 60%;
            transform: rotate(45deg);
            left: 19%;
            top: -41%;
        }

        @media (min-width: $bootstrap_large) {
            width: 62%;
            transform: rotate(45deg);
            left: 22%;
            top: -84%;
        }
    }
}

#water-utilities {
    top: 28%;
    left: 30%;
}

#rio-grande-valley {
    top: 53%;
    left: 26%;

    &:after {
        @media (min-width: $bootstrap_mobile) and (max-width: $bootstrap_medium) {
            width: 74%;
            transform: rotate(75deg);
            left: 18%;
            top: 198%;
        }
        @media (min-width: $bootstrap_medium) and (max-width: $bootstrap_large) {
            width: 114%;
            transform: rotate(75deg);
            left: 19%;
            top: 267%;
        }
        @media (min-width: $bootstrap_large) {
            width: 149%;
            transform: rotate(75deg);
            left: 19%;
            top: 312%;
        }
    }
}

#great-lakes {
    top: -3%;
    left: 40%;

    &:hover .map-tooltip {

        @media (min-width: $bootstrap_mobile) {
            width: 172px;
        }
    }

    &:after {
        @media (min-width: $bootstrap_mobile) and (max-width: $bootstrap_medium) {
            width: 43%;
            transform: rotate(45deg);
            left: 53%;
            top: 142%;
        }
        @media (min-width: $bootstrap_medium) and (max-width: $bootstrap_large) {
            width: 75%;
            transform: rotate(45deg);
            left: 63%;
            top: 183%;
        }
        @media (min-width: $bootstrap_large) {
            width: 110%;
            transform: rotate(45deg);
            left: 62%;
            top: 200%;
        }
    }
}

#mississippi-basin {
    left: 65%;
    top: 28%;

    &:hover .map-tooltip {
        @media (min-width: $bootstrap_mobile) {
            width: 172px;
        }
    }

    &:after {
        @media (min-width: $bootstrap_mobile) and (max-width: $bootstrap_medium) {
            width: 57%;
            transform: rotate(-70deg);
            left: -23%;
            top: 119%;
        }
        @media (min-width: $bootstrap_medium) and (max-width: $bootstrap_large) {
            width: 75%;
            transform: rotate(-70deg);
            left: -28%;
            top: 168%;
        }
        @media (min-width: $bootstrap_large) {
            width: 100%;
            transform: rotate(-70deg);
            left: -39%;
            top: 208%;
        }
    }
}

#galveston-bay {
    top: 70%;
    left: 58%;

    &:after {
        @media (min-width: $bootstrap_mobile) and (max-width: $bootstrap_medium) {
            width: 36%;
            transform: rotate(-38deg);
            left: -19%;
            top: 74%;
        }
        @media (min-width: $bootstrap_medium) and (max-width: $bootstrap_large) {
            width: 48%;
            transform: rotate(-38deg);
            left: -27%;
            top: 117%;
        }
        @media (min-width: $bootstrap_large) {
            width: 48%;
            transform: rotate(-38deg);
            left: -27%;
            top: 142%;
        }
    }
}

#catawba-basin {
    top: 65%;
    left: 85%;

    &:hover .map-tooltip {
        @media (min-width: $bootstrap_mobile) {
            width: 172px;
        }
    }

    &:after {
        @media (min-width: $bootstrap_mobile) and (max-width: $bootstrap_medium) {
            width: 36%;
            transform: rotate(38deg);
            left: -12%;
            top: -4%;
        }
        @media (min-width: $bootstrap_medium) and (max-width: $bootstrap_large) {
            width: 42%;
            transform: rotate(55deg);
            left: -19%;
            top: 2%;
        }
        @media (min-width: $bootstrap_large) {
            width: 50%;
            transform: rotate(55deg);
            left: -24%;
            top: 2%;
        }
    }
}

#research-triangle {
    left: 88%;
    top: 39%;

    &:hover .map-tooltip {
        @media (min-width: $bootstrap_mobile) {
            width: 172px;
        }
    }

    &:after {
        @media (min-width: $bootstrap_mobile) and (max-width: $bootstrap_medium) {
            width: 41%;
            transform: rotate(152deg);
            left: -15%;
            top: 97%;
        }
        @media (min-width: $bootstrap_medium) and (max-width: $bootstrap_large) {
            width: 83%;
            transform: rotate(152deg);
            left: -17%;
            top: 110%;
        }
        @media (min-width: $bootstrap_large) {
            width: 95%;
            transform: rotate(152deg);
            left: -22%;
            top: 144%;
        }
    }
}

#roanoke-basin {
    left: 78%;
    top: 10%;

    &:after {
        @media (min-width: $bootstrap_mobile) and (max-width: $bootstrap_medium) {
            width: 71%;
            transform: rotate(90deg);
            left: -9%;
            top: 190%;
        }
        @media (min-width: $bootstrap_medium) and (max-width: $bootstrap_large) {
            width: 109%;
            transform: rotate(90deg);
            left: -17%;
            top: 247%;
        }
        @media (min-width: $bootstrap_large) {
            width: 136%;
            transform: rotate(90deg);
            left: -23%;
            top: 310%;
        }
    }
}
