$mobile: 0px;

$bootstrap_mobile: 768px;
$bootstrap_medium: 992px;
$bootstrap_large: 1200px;

$blue: #58A0D6;
$green: rgb(112, 194, 131);
$yellow: rgb(249, 167, 50);
$red: rgb(241, 107, 74);
$dark-purple: rgb(148, 126, 149);
$purple: rgb(98, 106, 175);
