/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Roboto Slab', serif; }

@media (min-width: 517px) {
  .custom-map-wrapper {
    width: 517px; } }

@media (min-width: 682px) {
  .custom-map-wrapper {
    width: 682px; } }

@media (min-width: 830px) {
  .custom-map-wrapper {
    width: 830px; } }

.dot {
  display: none;
  background-color: #58A0D6;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  z-index: 1; }
  @media (min-width: 517px) {
    .dot {
      display: block; } }
  @media (min-width: 517px) and (max-width: 682px) {
    .dot {
      width: 5px;
      height: 5px; } }

.dot:after {
  content: '';
  position: absolute;
  background-color: #ADC6D9;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  opacity: 0;
  top: 0;
  left: 0; }
  @media (min-width: 517px) and (max-width: 682px) {
    .dot:after {
      width: 5px;
      height: 5px; } }

.dot.active:after {
  -webkit-transform: scale(3);
          transform: scale(3);
  opacity: .7; }

.dot--active {
  -webkit-transform: scale(2);
          transform: scale(2);
  opacity: .7; }

#columbia-basin--dot {
  left: 10%;
  top: 13.5%; }

#central-valley--dot {
  left: 9%;
  top: 53.5%; }

#great-lakes--dot {
  left: 67%;
  top: 21.5%; }

#mississippi-basin--dot {
  left: 63%;
  top: 56%; }

#rio-grande-valley--dot {
  top: 95.75%;
  left: 45.5%; }

#galveston-bay--dot {
  top: 84%;
  left: 53%; }

#catawba-basin--dot {
  left: 82%;
  top: 58%; }

#roanoke-basin--dot {
  top: 51.25%;
  left: 85.5%; }

#research-triangle--dot {
  left: 84%;
  top: 55%; }

@media (max-width: 517px) {
  .tooltip-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -15px; } }

.tooltip-wrapper {
  margin-bottom: 15px;
  padding-left: 15px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 517px) {
    .tooltip-wrapper {
      position: absolute;
      width: 135px;
      height: 35px; }
      .tooltip-wrapper:after {
        position: absolute;
        content: '';
        background-color: #58A0D6;
        height: 1px;
        display: block; } }

.map-tooltip {
  text-align: left; }
  @media (max-width: 517px) {
    .map-tooltip {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media (min-width: 517px) {
    .map-tooltip {
      position: absolute;
      width: 135px;
      z-index: 5;
      -webkit-transition: -webkit-transform .2s .1s ease-in-out;
      transition: -webkit-transform .2s .1s ease-in-out;
      transition: transform .2s .1s ease-in-out;
      transition: transform .2s .1s ease-in-out, -webkit-transform .2s .1s ease-in-out; }
      .map-tooltip:hover {
        width: 215px;
        z-index: 6; }
      .map-tooltip.shrink {
        -webkit-transform: scale(0.97);
                transform: scale(0.97);
        opacity: .75; } }

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.icon-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 10px;
  position: relative; }

@media (min-width: 517px) {
  .map-tooltip:hover .icon-container {
    height: 13px; } }

.header {
  background-color: #3B464E;
  color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 12px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (min-width: 517px) {
    .header {
      font-size: 10px;
      height: 25px;
      padding: 0 10px; } }

.header i {
  font-size: 12px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); }

@media (min-width: 517px) {
  .map-tooltip:hover .header i {
    display: none; } }

@media (min-width: 517px) {
  .map-tooltip:hover .header {
    font-size: 15px;
    height: 40px; } }

.content {
  font-family: 'Roboto', sans-serif;
  padding: 15px 20px 15px 10px;
  background-size: cover;
  background-position: center;
  color: #fff;
  position: relative;
  margin-top: -3px;
  font-size: 10px;
  font-weight: 300;
  line-height: 1.3;
  position: relative;
  background-color: #3B464E;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  @media (min-width: 517px) {
    .content {
      display: none; } }

@media (min-width: 517px) {
  .map-tooltip:hover > .content {
    display: block; } }

.content:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3B464E;
  opacity: 0.4; }

.content i {
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 16px; }

.content p {
  position: relative;
  margin: 0; }

@media (min-width: 517px) {
  .map-tooltip:hover .icon-container .icon {
    bottom: 12px; } }

@media (min-width: 517px) {
  .map-tooltip:hover .icon {
    font-size: 25px; } }

a.tooltip__link {
  color: #fff;
  text-decoration: none; }
  a.tooltip__link:hover {
    color: #fff; }

#columbia-basin {
  top: 27%;
  left: 0%; }
  @media (min-width: 517px) and (max-width: 682px) {
    #columbia-basin:after {
      width: 33%;
      -webkit-transform: rotate(-70deg);
              transform: rotate(-70deg);
      left: 12%;
      top: -44%; } }
  @media (min-width: 682px) and (max-width: 830px) {
    #columbia-basin:after {
      width: 41%;
      -webkit-transform: rotate(-70deg);
              transform: rotate(-70deg);
      left: 21%;
      top: -55%; } }
  @media (min-width: 830px) {
    #columbia-basin:after {
      width: 54%;
      -webkit-transform: rotate(-70deg);
              transform: rotate(-70deg);
      left: 24%;
      top: -84%; } }

#central-valley {
  top: 66.5%;
  left: 4%; }
  @media (min-width: 517px) and (max-width: 682px) {
    #central-valley:after {
      width: 42%;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      left: 11%;
      top: -41%; } }
  @media (min-width: 682px) and (max-width: 830px) {
    #central-valley:after {
      width: 60%;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      left: 19%;
      top: -41%; } }
  @media (min-width: 830px) {
    #central-valley:after {
      width: 62%;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      left: 22%;
      top: -84%; } }

#water-utilities {
  top: 28%;
  left: 30%; }

#rio-grande-valley {
  top: 53%;
  left: 26%; }
  @media (min-width: 517px) and (max-width: 682px) {
    #rio-grande-valley:after {
      width: 74%;
      -webkit-transform: rotate(75deg);
              transform: rotate(75deg);
      left: 18%;
      top: 198%; } }
  @media (min-width: 682px) and (max-width: 830px) {
    #rio-grande-valley:after {
      width: 114%;
      -webkit-transform: rotate(75deg);
              transform: rotate(75deg);
      left: 19%;
      top: 267%; } }
  @media (min-width: 830px) {
    #rio-grande-valley:after {
      width: 149%;
      -webkit-transform: rotate(75deg);
              transform: rotate(75deg);
      left: 19%;
      top: 312%; } }

#great-lakes {
  top: -3%;
  left: 40%; }
  @media (min-width: 517px) and (max-width: 830px) {
    #great-lakes .map-tooltip:hover {
      width: 150px; } }
  @media (min-width: 830px) {
    #great-lakes .map-tooltip:hover {
      width: 172px; } }
  @media (min-width: 517px) and (max-width: 682px) {
    #great-lakes:after {
      width: 43%;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      left: 53%;
      top: 142%; } }
  @media (min-width: 682px) and (max-width: 830px) {
    #great-lakes:after {
      width: 75%;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      left: 63%;
      top: 183%; } }
  @media (min-width: 830px) {
    #great-lakes:after {
      width: 110%;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      left: 62%;
      top: 200%; } }

#mississippi-basin {
  left: 64%;
  top: 37%; }
  @media (min-width: 517px) and (max-width: 830px) {
    #mississippi-basin .map-tooltip:hover {
      width: 150px; } }
  @media (min-width: 830px) {
    #mississippi-basin .map-tooltip:hover {
      width: 172px; } }
  @media (min-width: 517px) and (max-width: 682px) {
    #mississippi-basin:after {
      width: 31%;
      -webkit-transform: rotate(-61deg);
              transform: rotate(-61deg);
      left: -9%;
      top: 102%; } }
  @media (min-width: 682px) and (max-width: 830px) {
    #mississippi-basin:after {
      width: 45%;
      -webkit-transform: rotate(-70deg);
              transform: rotate(-70deg);
      left: -15%;
      top: 132%; } }
  @media (min-width: 830px) {
    #mississippi-basin:after {
      width: 61%;
      -webkit-transform: rotate(-70deg);
              transform: rotate(-70deg);
      left: -21%;
      top: 162%; } }

#galveston-bay {
  top: 70%;
  left: 58%; }
  @media (min-width: 517px) and (max-width: 682px) {
    #galveston-bay {
      top: 87%;
      left: 53%; } }
  @media (min-width: 517px) and (max-width: 682px) {
    #galveston-bay:after {
      width: 19%;
      -webkit-transform: rotate(-130deg);
              transform: rotate(-130deg);
      left: -1%;
      top: 14%; } }
  @media (min-width: 682px) and (max-width: 830px) {
    #galveston-bay:after {
      width: 48%;
      -webkit-transform: rotate(-38deg);
              transform: rotate(-38deg);
      left: -27%;
      top: 117%; } }
  @media (min-width: 830px) {
    #galveston-bay:after {
      width: 48%;
      -webkit-transform: rotate(-38deg);
              transform: rotate(-38deg);
      left: -27%;
      top: 142%; } }

#catawba-basin {
  top: 65%;
  left: 85%; }
  @media (min-width: 517px) and (max-width: 682px) {
    #catawba-basin {
      top: 65%;
      left: 59%; } }
  @media (min-width: 517px) {
    #catawba-basin .map-tooltip:hover {
      width: 150px; } }
  @media (min-width: 517px) and (max-width: 682px) {
    #catawba-basin:after {
      width: 16%;
      -webkit-transform: rotate(142deg);
              transform: rotate(142deg);
      left: 61%;
      top: -26%; } }
  @media (min-width: 682px) and (max-width: 830px) {
    #catawba-basin:after {
      width: 42%;
      -webkit-transform: rotate(55deg);
              transform: rotate(55deg);
      left: -19%;
      top: 2%; } }
  @media (min-width: 830px) {
    #catawba-basin:after {
      width: 50%;
      -webkit-transform: rotate(55deg);
              transform: rotate(55deg);
      left: -24%;
      top: 2%; } }

#research-triangle {
  left: 88%;
  top: 39%; }
  @media (min-width: 517px) and (max-width: 682px) {
    #research-triangle {
      left: 84%;
      top: 50%; } }
  @media (min-width: 517px) and (max-width: 830px) {
    #research-triangle .map-tooltip:hover {
      width: 130px; } }
  @media (min-width: 830px) {
    #research-triangle .map-tooltip:hover {
      width: 150px; } }
  @media (min-width: 517px) and (max-width: 682px) {
    #research-triangle:after {
      width: 20%;
      -webkit-transform: rotate(33deg);
              transform: rotate(33deg);
      left: 0%;
      top: 63%; } }
  @media (min-width: 682px) and (max-width: 830px) {
    #research-triangle:after {
      width: 83%;
      -webkit-transform: rotate(152deg);
              transform: rotate(152deg);
      left: -17%;
      top: 110%; } }
  @media (min-width: 830px) {
    #research-triangle:after {
      width: 95%;
      -webkit-transform: rotate(152deg);
              transform: rotate(152deg);
      left: -22%;
      top: 144%; } }

#roanoke-basin {
  left: 78%;
  top: 10%; }
  @media (min-width: 517px) {
    #roanoke-basin .map-tooltip:hover {
      width: 150px; } }
  @media (min-width: 517px) and (max-width: 682px) {
    #roanoke-basin:after {
      width: 71%;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      left: -9%;
      top: 190%; } }
  @media (min-width: 682px) and (max-width: 830px) {
    #roanoke-basin:after {
      width: 109%;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      left: -17%;
      top: 247%; } }
  @media (min-width: 830px) {
    #roanoke-basin:after {
      width: 136%;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      left: -23%;
      top: 310%; } }

.legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.key {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  font-size: 12px;
  color: #fff;
  height: 35px; }
  @media (min-width: 517px) {
    .key {
      width: 33.33%; } }
  @media (min-width: 830px) {
    .key {
      width: 16.66%; } }

.key i {
  font-size: 18px;
  margin-right: 10px; }

@media (min-width: 830px) {
  .key:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; } }

@media (min-width: 830px) {
  .key:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; } }

.key--blue {
  background-color: #58A0D6; }

.key--green {
  background-color: #70c283; }

.key--yellow {
  background-color: #f9a732; }

.key--red {
  background-color: #f16b4a; }

.key--dark-purple {
  background-color: #947e95; }

.key--purple {
  background-color: #626aaf; }

.icon-container--blue {
  background-color: #58A0D6; }

.icon-container--green {
  background-color: #70c283; }

.icon-container--yellow {
  background-color: #f9a732; }

.icon-container--red {
  background-color: #f16b4a; }

.icon-container--dark-purple {
  background-color: #947e95; }

.icon-container--purple {
  background-color: #626aaf; }

.icon-container:last-of-type {
  border-top-right-radius: 5px; }

.icon-container:first-of-type {
  border-top-left-radius: 5px; }

.icon-container .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  bottom: 10px;
  font-size: 18px; }
  @media (min-width: 517px) {
    .icon-container .icon {
      bottom: 6px;
      font-size: 15px; } }

.map-wrapper {
  text-align: center; }
  @media (min-width: 517px) {
    .map-wrapper {
      padding: 0 80px 0 0; } }

#map {
  position: relative; }

#blue-svg {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0px;
  opacity: 0;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease; }

#svg,
#blue-svg {
  display: none; }
  @media (min-width: 517px) {
    #svg,
    #blue-svg {
      display: block; } }
